<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>

</head>
<body>
<div class="container-fluid" layout:fragment="content">
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">사용자 등록</h1>
    <div class="col-md-6">
        <div class="main-card mb-3 card">
            <div class="card-body"><h5 class="card-title"></h5>
                <form th:action="@{/user/new}" th:object="${user}" id="userForm" method="post">
<!--                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
                    <div class="position-relative form-group">
                        <label for="userName" class="">이름</label>
                        <input name="userName" id="userName" placeholder="이름" type="text" class="form-control" th:value="${user['userName']}">
                        <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">Name Error</span>
                    </div>
                    <div class="position-relative form-group">
                        <label for="userAccount" class="">아이디</label>
                        <input name="userAccount" id="userAccount" placeholder="아이디" type="text" class="form-control" th:value="${user['userAccount']}">
                        <span th:if="${#fields.hasErrors('userAccount')}" th:errors="*{userAccount}">ID Error</span>
                    </div>
                    <div class="position-relative form-group">
                        <label for="userPassword" class="">비밀번호</label>
                        <input name="userPassword" id="userPassword" placeholder="비밀번호" type="password" class="form-control" th:value="${user['userPassword']}">
                        <span th:if="${#fields.hasErrors('userPassword')}" th:errors="*{userPassword}">Password Error</span>
                    </div>
                    <div class="position-relative form-group">
                        <label for="userPasswordConfirm" class="">비밀번호 확인</label>
                        <input name="userPasswordConfirm" id="userPasswordConfirm" placeholder="비밀번호 확인" type="password" class="form-control">                        
                    </div>                    
                    <button th:with="text=${user['new']} ? '추가' : '수정'"
                            class="mt-1 btn btn-primary" type="submit" th:text="${text}">
                       	 추가
                    </button>
                    <button type="button" onclick="location.href='/user'" class="mt-1 btn btn-secondary">목록</button>
                </form>
            </div>
        </div>
    </div>
    <script>
    	$('#userForm').validate({
    		rules: {
    			userName: "required",
    			userAccount: "required",    			
    			userPassword: "required",
    			userPasswordConfirm: {
   			    	equalTo: "#userPassword"
   			    }
   			}
   		});
    
    	
    </script>
</div>
</body>
</html>
