<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <!-- Page level plugins -->
    <link href='/js/fullcalendar/core/main.css' rel='stylesheet' />
    <link href='/js/fullcalendar/daygrid/main.css' rel='stylesheet' />
    <link href='/js/fullcalendar/timegrid/main.css' rel='stylesheet' />
    <link href='/js/fullcalendar/list/main.css' rel='stylesheet' />

    <script src='/js/fullcalendar/core/main.js'></script>
    <script src='/js/fullcalendar/daygrid/main.js'></script>
    <script src='/js/fullcalendar/timegrid/main.js'></script>
    <script src='/js/fullcalendar/list/main.js'></script>




    <!-- Page level custom scripts -->
</head>
<body>
<div class="container-fluid" layout:fragment="content">
    <!-- Page Heading -->

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Schedule</h6>

        </div>
        <div class="card-body">
            <div id="calendar"></div>
        </div>
    </div>

    <script>
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: ['timeGrid', 'dayGrid', 'list', 'momentPlugin'],
            //locale: locale,
            //timeZone: 'KST',
            defaultView: 'timeGridDay',
            header: {
                left: 'prev,next today custom1',
                center: 'title',
                right: 'timeGridDay,timeGridWeek,dayGridMonth,list'
            },
            buttonText: {
                today: '오늘',
                month: '월',
                week: '주',
                day: '일',
                list: '일정목록'
            },
            customButtons: {
                custom1: {
                    text: 'custom 1',
                    click: function () {
                        calendar.rerenderEvents();
                        //calendar.addEventSource([{ "id": "80988", "title": "김채원-200416-홀수로", "icon": "group", "color": "", "start": "2020-04-24T01:00:00", "end": "2020-04-24T01:59:59" }]);
                    }
                },
            },
            lazyFetching: false, //매번 ajax 호출
            allDayText: '종일',
            allDaySlot: true,
            slotDuration: '00:10:00',
            nowIndicator: true,
            views: {
                timeGrid: {
                    eventLimit: 6
                },
                dayGrid: {
                    eventLimit: 6
                }
            },
            eventOverlap: function (stillEvent, movingEvent) {
                return stillEvent.allDay && movingEvent.allDay;
            },
            eventRender: function (info) {
                console.log(info);
            },
            eventSources: [
                {
                    url:'/api/schedule/list',
                    method: 'POST',
                    extraParams: {
                        custom_param1: 'something',
                        custom_param2: 'somethingelse'
                    },
                    failure: function() {
                        alert('there was an error while fetching events!');
                    },
                    color: 'yellow',   // a non-ajax option
                    textColor: 'black' // a non-ajax option
                }
            ]
        });

        calendar.render();
    </script>



</div>



</body>
</html>
